<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="keywords">
    <meta content="" name="description">  
    <title>Orders</title>
    <link rel="stylesheet" href="css/style.css">  
</head>

<body>
    <main>
        <div class="container">
            <br>
            <h4 class="title is-4"><strong>Add a New Order</strong></h4>
            <form name="orders_info"  id="orders_info" class="inputborder">
                <label>Customer ID</label>
                <br>
                <div class='select'>
                    <select name="customerID-input" id="customerID-input-orders">
                        <option value="">Select a Customer</option>
                        {{#each custsResults.rows}}
                        <option value="{{this.customerID}}">{{this.fname}} {{this.lname}}</option>
                        {{/each}}
                    </select>
                </div>
                <br>
                <label>Employee ID (optional)</label>
                <br>
                <div class='select'>
                    <select name="employeeID-input" id="employeeID-input-orders">
                        <option value="">Select an Employee</option>
                        {{#each empResults.rows}}
                        <option value="{{this.employeeID}}">{{this.fname}} {{this.lname}}</option>
                        {{/each}}
                    </select>
                </div>
                <br>
                <label>Order Item IDs - Select one or more products</label>
                <br>
                <div class='select is-multiple'>
                    <select name="itemID-input" id="itemID-input-orders" multiple='multiple'>
                        {{#each itemResults.rows}}
                        <option value="{{this.itemID}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <br>
                <button id = "add-order-btn" class='button'>Submit</button>
            </form>
        <div class="row centered mt grid">
            <div class id="myTable"></div>
            <table id="myTable" class="table">
                    <tr>
                        <th>orderID</th>
                        <th>customerID</th>
                        <th>employeeID</th>
                        <th></th>
                        <th></th>

                    </tr>
                <tbody>
                    {{#each ordersResults.rows}}
                        <tr id=`orders-row-{{this.orderID}}`>
                            <form>
                                <td><input id=`orders-editOrderID-{{this.orderID}}` class='input' type="number" value = {{this.orderID}} disabled></td>
                                <td><input id=`orders-editCustomerID-{{this.orderID}}` class='input' type="number" value = {{this.customerID}} disabled></td>
                                <td><input id=`orders-editEmployeeID-{{this.orderID}}` class='input' type="number" value = {{this.employeeID}} disabled></td>
                               <!-- <td><input id=`orders-editTotalPrice-{{this.orderID}}` class='input' type="number" value= {{this.total}} disabled></td>-->
                                <td><button type = 'button' id=`orders-edit-{{this.orderID}}` onclick="updateOrder('`orders-edit-{{this.orderID}}`', {{this.orderID}})" class='editButton_button'>Edit</button></td>
                                <td><button id=`orders-delete-{{this.orderID}}` onclick="deleteOrder({{this.orderID}})" class='deleteButton_button'>Delete</button></td>
                    </form>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        <div class="row centered mt grid"></div>
            <div class id="myTable"></div>
            <table id="myTable" class="table">  
            <thead>
            <th>Order ID</th>
            <th>Total Price</th>
            </thead>
            <tbody>
            {{#each totalPriceResults.rows}}
            <tr>
                <td><input value = {{this.orderID}} disabled></td>
                <td><input value = {{this.total}} disabled></td>
            </tr>
            {{/each}}
        </tbody>
  
    </main>    
    
</body>
<script src = "/orders.js"></script>
</html>